<div class="sidebar">
  <h2>Web App</h2>
  <nav>
    <ul>
      <li>
        <a href="#"><i class="fas fa-home"></i> Dashboard</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-coins"></i> Crypto Currencies</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-shopping-cart"></i> Ecommerce</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-paper-plane"></i> Landing Page</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-boxes"></i> Apps</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-puzzle-piece"></i> Components</a>
      </li>
    </ul>
  </nav>
</div>
