<!DOCTYPE html>
<html lang="en" ng-app="WebApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="../CSS/layout.css" />
  </head>
  <body>
    <!-- <div ng-show="isAuthenticated"> -->
    <div class="sidebar">
      <h2>Web App</h2>
      <nav>
        <ul>
          <li>
            <a href="#!/add-user"><i class="fas fa-coins"></i> Add User</a>
          </li>
          <li>
            <a href="#!/all-users"
              ><i class="fas fa-shopping-cart"></i> All Users</a
            >
          </li>
          <li>
            <a href="#!/import-excel"
              ><i class="fas fa-paper-plane"></i> Import Excel</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="main">
      <div class="navbar">
        <div class="search-bar">
          <input type="text" placeholder="Search for results..." />
        </div>
        <div class="actions">
          <i class="fas fa-cloud-sun"></i>
          <i class="fas fa-bell"></i>
          <i class="fas fa-user-circle"></i>
        </div>
      </div>

      <div class="content">
        <div ng-view></div>
      </div>
    </div>
    <!-- </div>
    <div ng-show="!isAuthenticated"><div ng-view></div></div> -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="../JS/app.js"></script>
    <script src="../Controllers/UserListController.js"></script>
    <script src="../Controllers/UserAddController.js"></script>
    <script src="../Controllers/ImportController.js"></script>
    <script src="../Controllers/loginController.js"></script>

    <!-- <script>
      angular.module("WebApp").run(function ($rootScope, $location) {
        $rootScope.isAuthenticated =
          localStorage.getItem("isAuthenticated") === "true";

        $rootScope.$on("$routeChangeSuccess", function (event, current) {
          if (
            !$rootScope.isAuthenticated &&
            current.$$route.originalPath !== "/login"
          ) {
            $location.path("/login");
          }
        });
      });
    </script> -->
  </body>
</html>
